.card-custom {
    background-color: #6ac1ea;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: 0 auto;
  
}

.logo-container {
    font-family: 'Borel', cursive;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    padding-left: 75px;
}