.card-custom {
    justify-content: center;
    background-color: #6ac1ea;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 20px;
   
  
}

.logo-container {
    font-family: 'Borel', cursive;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    padding-left: 75px;
}

h1 {
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.title-container {
    margin: 0 auto;
}

.container {
    margin-top: 20px;
}


